        <footer>
            <div class="container">
                <p>@ Equipe 5 - Pet-feeder</p>
            </div>
        </footer>
        <script type="text/javascript" src="/scripts/map.js"></script>
    </body>
</html>