<% include partials/header %>
<main role=main>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Abraçe a nossa missão!</h1>
                <h2 class="subtitle">
                        This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-6">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                            <p class="title">Por que adquirir uma vasilha?</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                                    <!-- Content -->
                            </div>
                        <!-- Put any content you want -->
                    </article>
                    <article class="tile is-child box">
                            <p class="title">Como adquirir?</p>
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                            </figure>
                        <!-- Put any content you want -->
                    </article>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                    <p class="title">Como cadastrar e monitorar o seu potinho</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                            <!-- Content -->
                    </div>
                <!-- Put any content you want -->
              </article>
            </div>
          </div>
    </section>
</main>


<!-- <div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Abraçe a nossa missão, junte-se a nós!</h1>
        <p class="lead">Cliche venmo farm-to-table, tbh flexitarian cray swag ipsum. Thundercats labore man braid leggings 3 wolf moon ut banh mi, bushwick everyday carry flexitarian aute consectetur pariatur lumbersexual sartorial. Raclette salvia XOXO authentic tofu aliquip ut, meditation proident. Try-hard sint officia tattooed lomo cillum. Godard actually snackwave VHS everyday carry. Pug chicharrones waistcoat vape culpa glossier art party fanny pack.</p>
        <hr class="my-4">
        <p>Clique abaixo para adiquirir a sua vasilha</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Quero uma vasilha</a>
        </p>
        <div class="container fluid">
            <img class="img-fluid rounded" alt="Responsive image" src="https://images.unsplash.com/photo-1540653767498-cd679b1faa23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
        </div>
    </header>
</div> -->
<% include partials/footer %>
