<% include partials/header %>
<main role=main>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Abraçe a nossa missão! <span class="icon is-medium has-text-danger"><i class="fas fa-heart"></i></span></h1>
                <h2 class="subtitle">
                    This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-6">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                            <p class="title">Por que adquirir uma vasilha?</p>
                            <div class="content">
                                <p>Quem não alimenta cachorro e gato por vontade própria é gente RUIM</p>
                            </div>
                    </article>
                    <article class="tile is-child box">
                            <p class="title">Contatos</p>
                            <div>
                                <div>
                                    <p><span class="icon bd-has-text-rss"><i class="fas fa-map-marker-alt"></i></span>   14 de março, 1778</p>   
                                    <p><span class="icon has-text-success"><i class="fab fa-whatsapp"></i></span>    +55 91 9181396828</p>                                    
                                    <p><span class="icon has-text-danger"><i class="fas fa-envelope"></i></span>     petfeeder@gmailcom</p>
                                </div>
                                <br>
                                <div>
                                    <p><span class="icon has-text-link"><i class="fab fa-facebook"></i></span><a>     www.facebook.com/petfeeder</a></p>
                                    <p><span class="icon has-text-info"><i class="fab fa-twitter"></i></span><a>     @pet_feeder</a></p> 
                                    <p><span class="icon has-text-black"><i class="fab fa-instagram"></i></span><a>     @pet_feeder</a></p>
                                </div>
                            </div>
                    </article>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                    <p class="title">Como funciona?</p>
                    <div class="content">
                        <p class="justify">É simples: o interessado em ter uma vasilha deve entrar em contato com os idealizadores do projeto.</p>
                        <p class="justify">O equipamento é enviado, a responsabilidade do custo é do voluntário, assim como a periódica limpeza do recipiente. Com o equipamento em mãos, a pessoa pode cadastrar no site o ponto em que deseja dispor a vasilha, recomenda-se que seja um local perto de casa, para facilitar a manutenção. Por fim, basta instalar o comedouro no local indicado e contar com a ajuda da comunidade...</p>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/640x480.png">
                        </figure>
                    </div>
              </article>
            </div>
          </div>
          </div>
    </section>
</main>


<!-- <div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Abraçe a nossa missão, junte-se a nós!</h1>
        <p class="lead">Cliche venmo farm-to-table, tbh flexitarian cray swag ipsum. Thundercats labore man braid leggings 3 wolf moon ut banh mi, bushwick everyday carry flexitarian aute consectetur pariatur lumbersexual sartorial. Raclette salvia XOXO authentic tofu aliquip ut, meditation proident. Try-hard sint officia tattooed lomo cillum. Godard actually snackwave VHS everyday carry. Pug chicharrones waistcoat vape culpa glossier art party fanny pack.</p>
        <hr class="my-4">
        <p>Clique abaixo para adiquirir a sua vasilha</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Quero uma vasilha</a>
        </p>
        <div class="container fluid">
            <img class="img-fluid rounded" alt="Responsive image" src="https://images.unsplash.com/photo-1540653767498-cd679b1faa23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
        </div>
    </header>
</div> -->
<% include partials/footer %>
