<% include partials/header %>
<main role=main>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Abraçe a nossa missão! <span class="icon is-medium has-text-danger"><i class="fas fa-heart"></i></span></h1>
                <h2 class="subtitle">
                    Ajude-nos a alimentar a população canina e felina abandonada de Belém
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-6">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                            <p class="title">Por que adquirir uma vasilha? <span class="icon is-medium has-text-purple"><i class="fas fa-hand-holding-heart"></i></span></p>
                            <div class="content">
                                <p>Diariamente, inúmeros cães e gatos de rua morrem por inanição.</p>
                                <p>Felizmente, esse cenário é de fácil remediação. E é com isso em mente que o nosso monitoramento de vasilhas foi projetado, uma forma de garantir a sobrevivência diária desses animais, por meio de simples atos cotidianos.</p> 
                            </div>
                    </article>
                    <article class="tile is-child box">
                            <p class="title">Contatos</p>
                            <div>
                                <div>
                                    <p><span class="icon bd-has-text-rss"><i class="fas fa-map-marker-alt"></i></span>   14 de março, 1778</p>   
                                    <p><span class="icon has-text-success"><i class="fab fa-whatsapp"></i></span>    +55 91 9181396828</p>                                    
                                    <p><span class="icon has-text-danger"><i class="fas fa-envelope"></i></span>    petfeeder@gmailcom</p>
                                </div>
                                <br>
                                <div>
                                    <p><span class="icon has-text-link"><i class="fab fa-facebook"></i></span><a>     www.facebook.com/petfeeder</a></p>
                                    <p><span class="icon has-text-info"><i class="fab fa-twitter"></i></span><a>     @pet_feeder</a></p> 
                                    <p><span class="icon has-text-black"><i class="fab fa-instagram"></i></span><a>     @pet_feeder</a></p>
                                </div>
                            </div>
                    </article>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                    <p class="title">Como funciona?</p>
                    <div class="content">
                        <p>É simples: o interessado em ter uma vasilha deve entrar em contato com os idealizadores do projeto.</p>
                        <p>O equipamento é enviado, a responsabilidade do custo é do voluntário, assim como a periódica limpeza do recipiente. Com o equipamento em mãos, a pessoa pode cadastrar no site o ponto em que deseja dispor a vasilha, recomenda-se que seja um local perto de casa, para facilitar a manutenção. Por fim, basta instalar o comedouro no local indicado e contar com a ajuda da comunidade...</p>
                        <figure class="image is-4by3">
                            <img src="images/gps.png">
                        </figure>
                    </div>
              </article>
            </div>
          </div>
          </div>
    </section>
</main>

<% include partials/footer %>
