<% include partials/header %>
<h1>Primeira pagina</h1>

<!-- this is the secton wrapping our new button -->
<div>
    <button onClick="botaoDoStatusVasilha()">Qual o status da vasilha?</button><!-- botão para solicitar o status da vasilha -->
</div>

<!-- aqui deveria aparecer a menssagem do status da vasilha recebida pelo MQTT-->
<div id="weightSensorValue"></div>

<% include partials/footer %>