<% include partials/header %>

    <main role=main>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Pet feeder é comunidade <span class="icon is-large has-text-warning"><i class="fas fa-users"></i></span></h1>
                    <h2 class="subtitle">
                        Nossa iniciativa consiste na instalação e monitoramento automatizado de comedouros em pontos diversos do município de Belém, mantidos por meio da ajuda da população arredor.
                    </h2>
                </div>
            </div>
        </section>

        <section class="section quem-somos">
            <div class="container">
                <h1 class="title is-4">Nossa história <span class="icon is-medium has-text-info"><i class="fas fa-hourglass-half"></i></i></span></h1>
                <p>
                    Nascemos nos corredores da faculdade com um ideal de ajudar cães e gatos em situação de abandono. Sabendo que esses animais enfrentam uma batalha diária pela sobrevivência, resolvemos construir uma rede para disponibilizar ração para eles.
                </p>
            </div>
        </section>

        <hr class="container">

        <!-- Integrantes da equipe 4 -->
        <section class="section quem-somos equipe">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/images/jean.png">
                        </figure>
                        <h3>Jean Moraes</h3>
                        <p>Administrador de Redes</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/images/juliana.png">
                        </figure>
                        <h3>Juliana Sinai</h3>
                        <p>Engenheira de Software</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/images/damasceno.png">
                        </figure>
                        <h3>Lucas Damasceno</h3>
                        <p>Projetista de Hardware</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/images/luize.png">
                        </figure>
                        <h3>Maria Luize</h3>
                        <p>Engenheira de Software</p>
                    </div>
                </div>
            </div>
        </section>     
    </main>

    <% include partials/footer %>