<% include partials/header %>

    <main role=main>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Pet feeder é comunidade</h1>
                    <h2 class="subtitle">
                            This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
                    </h2>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">Nossa história</h1>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <hr>
            </div>
        </section>

        <!-- Integrantes da equipe 4 -->
        <section class="section equipe">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <h3>Jean Moraes</h3>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <h3>Juliana Sinai</h3>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <h3>Lucas Damasceno</h3>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                    <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <h3>Maria Luize</h3>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                </div>
            </div>
        </section>     
    </main>

    <% include partials/footer %>