.navbar-brand img {
    margin-right: 0.5rem;
}

#mapid {
    height: 550px; 
}

.section .quem-somos {
    padding: 2rem 2rem;
}

.equipe {
    /* margin-top: 2rem; */
    text-align: center;
}

.equipe figure {
    margin: auto;
    margin-bottom: 0.5rem;
}