.navbar-brand img {
    margin-right: 0.5rem;
}

#mapid {
    height: 100vh; 
}

.section .quem-somos {
    padding: 2rem 2rem;
}

.bd-has-text-rss {
    color: #f26522;
}

.has-text-purple {
    color: #6f5499!important;
}

.is-child.box p { 
    text-align: justify;
  }

.equipe {
    /* margin-top: 2rem; */
    text-align: center;
}

.equipe figure {
    margin: auto;
    margin-bottom: 0.5rem;
}